		   *{
				background-color: #d0e9ff;
			}
			h1{
				color: blue;
			}
			h2{
				color: purple;
			}
			h3{
				color: red;
			}
			h1, h2, h3{
				color: magenta;
			}
			#nav a{
				font-weight: bold;
				color: brown;
			}
			#nav a:link{
				color: silver;
			}
			#nav a:visited{
				color: orange;
			}
			#nav a:hover{
				color: green;
			}
			#nav a:active{
				color: red;
			}
			#nav input:focus{
				background-color: #ff0000;
			}
			ul li{
				color: orange;
			}
			p:first-letter{
				color: blue;
			}
			p:first-line{
				color: purple;
			}
			#num {
				font-weight: bold;
				font-size: 15px;
			}
			ol li{
				color: silver;
			}
			#main-content{
				width: 500px;
			}
			#content{
				width: 500px
			}
			.important{
				color: orange;
				font-weight: bold;
			}
		    .footer{
		    	font: 12px Verdana;
		    }